.cabeadm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #1F2023;

    height: 15vh;

    padding-right: 20px;

    padding-left: 20px;

    border-bottom: 3px solid #fff;

    .cabeadm-p1{
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
        max-width: 700px;
        
        .logo{
            max-width: 100px;
            width: 100%;
            height: auto;

            margin-right: 20px;
        }

        h1{
            font-size: 30px;

            color: #fff;
        }
    }


    .cabeadm-p2{
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 35px;

        margin-right: 20px;

        .linkhomeajuda{
            display: flex;
            flex-direction: row;

            gap: 10px;

            a{
                display: flex;
                align-items: center;
                flex-direction: row;

                color: #fff;

                text-decoration: none;

                gap: 5px;

                img{
                    height: 15px;
                }
            }
        }

        .foto-alterar{
            display: flex;
            flex-direction: column;
            align-items: center;

            height: 100%;
            
            gap: 10px;

            .img{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                height: 65px;
                width: 65px;

                color: #fff;

                font-size: 20px;
                font-weight: 500;

                border-radius: 100%;
            }

            button{
                background-color: transparent;

                border: none;

                color: #fff;
            }
        }

    }


    @media(max-width: 1000px){
        .cabeadm-p1{  
            .logo{
                margin-right: 0px;

                width: 90px;
            }
    
            h1{
                font-size: 16px;
    
                color: #fff;
            }
        }
    }

    @media(max-width: 650px){
        .cabeadm-p1{  
            margin-right: 20px;
            .logo{
                margin-right: 0px;
            }
    
            h1{
                font-size: 16px;
    
                color: #fff;
            }
        }
    }

    @media(max-width: 526px){
        .cabeadm-p1{  
            margin-right: 20px;
            .logo{
                margin-right: 0px;
            }
    
            h1{
                display: none;
            }
        }
    }

    @media(max-width: 526px){
        padding: 5px;
        .cabeadm-p1{  
            margin-right: 10px;
            .logo{
                margin-right: 0px;
            }
        }

        .cabeadm-p2{  
            margin-right: 5px;

            gap: 10px;
        }
    }
}