.principal {
    
    background: linear-gradient(180deg, #092E00 53.94%, #000 100%);
    
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    .card-login {
        
        background-color: #000;
        
        height: 628px;
        width: 570px;
        

    }


}