.Pagina-Pesquisa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    .buscar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 70px 0px 40px 0px;

        gap: 40px;

        h1{
            color: #3b3b3b;
            font-size: 30px;
        }

        .div-input-select{
            display: flex;

            img{
                width: 20px;

                cursor: pointer;
            }

            .borda{
                width: 405px;
                height: 55px;
                position: relative;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
            }

            .div-input{
                display: flex;
                z-index: 1;
                flex-direction: row;
                position: relative;

                width: 100%;
                max-width: 400px;
                height: 50px;

                overflow: hidden;

                input{
                    border: none;
                    outline: 0;
                    
                    height: 100%;
                    width: 95%;

                    font-size: 18px;

                    padding: 0px 10px;
                }                
            }

            .borda::before{
                position: absolute;
                width: 170%;
                height: 170%;
                content: '';
                background-image: conic-gradient(#019708, #019708, #019708,  #019708);
                animation: rotate_border 5s linear infinite;
            
            }
            .borda::after{
                
                position: absolute;
                width: 170%;
                height: 170%;
                content: '';
                background-image: conic-gradient(#019708, #019708, #019708,  #019708);
                animation: rotate_border 6s linear infinite;
                animation-delay: -3s;
            }

            @keyframes rotate_border{
                0%{
                    transform: rotate(0deg);
                }
                100%{
                    transform: rotate(360deg);
                }
            }
        }
    }

    .tudo{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 97vw;
        padding: 10px;

        margin-bottom: 40px;

        border-bottom: 2px solid #000;

        button{
            display: flex;
            justify-content: center;
            align-items: center;

            border: none;

            color: #fff;

            background-color: #018b3a;

            width: 70%;
            height: 35px;

            cursor: pointer;

            font-size: 16px;
            font-weight: 500;

            border-radius: 5px;

            transition: 1s;

            img{
                width: 20px; 
                margin-right: 10px;
            }
        }

        button:hover{
            transform: translate(0px, -5px);
        }

    }

    .listar-produtos{
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;


        width: 100%;

        .erro.sumir{
            display: block;
        }

        .erro{
            display: none;
            font-size: 20px;
            font-weight: 600;
        }

        h1{
            font-size: 25px;

            margin-bottom: 70px;
        }

        .listar-produtosf{
            display: flex;

            padding: 10px 0px;

            width: 100%;

            img{
                width: 150px;
                height: 150px;

                margin-right: 50px;

            }

            .produtos-desc{
                display: flex;
                flex-direction: column;

                padding: 5px 0px;

                gap: 40px;
                
                .produtos-nome{
                    font-size: 20px;
                    font-weight: 500;
                }

                .produtos-preco{
                    font-size: 16px;
                    font-weight: 500;

                    color: #006128;
                }
            }
        }

    }

    @media(max-width: 520px){
        .listar-produtosf{
            img{
                margin-right: 10px !important;

                min-width: 150px;
            }
        }
    }


    @media(max-width: 480px){
        .buscar{
            h1{
                font-size: 25px;
            }
        }

        
        .borda{
            width: 310px !important;
        }

        .div-input{
            width: 300px !important;

        }

        .listar-produtos{
            max-width: 99vw;
        }

        .tudo{
            padding: 10px;
        }

        .listar-produtosf{

            max-width: 97vw;

            img{
                margin-right: 10px !important;

                min-width: 100px !important;

                width: 100px !important;
                height: 100px !important;
            }

            .produtos-nome{
                font-size: 16px !important;
            }
        }
    }

    @media(max-width: 380px){
        .buscar{
            h1{
                font-size: 20px;
                text-align: center;
            }
        }
    }

    @media(max-width: 360px){

    }
}