 .Cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 10vh;

    padding: 0px 15px;

    padding-right: 40px;


    box-shadow: 0px 0px 10px #00000070;

    
    .section{
        display: flex;
        flex-direction: row;
        align-items: center;


        height: 50px;

        border: none;

        width: 50px;

        border-radius: 0px;

        gap: 10px;


        img{
            height: 16px;
        }

        p{
            font-size: 10px;
        }
    }


    > img{
        height: 80%;
        width: auto;
    }

    .meio-cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 30px;

        p{
            font-size: 20px;

            font-weight: 500;

            color: rgba(54, 54, 54, 1);
        }

        .home-sobre{
            font-size: 20px;
            color: #000;

            font-weight: 400;

            text-decoration: none;
        }
    }

    > a{
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        height: 40px;
        width: 100px;

        border: 2px solid rgb(16, 16, 16);

        border-radius: 30px;

        background-color: white;

        text-decoration: none;

        color: rgb(34, 34, 34);

        transition: 0.5s;

        b{
            font-size: 12px;
            margin-right: 10px;
        }

        img{
            height: 20px;
        }
    }

    > a:hover{
        box-shadow: 0px 2px 10px #000000a4;

        transform:translate(0px, -7px);

        border: none;
    }

    @media(max-width: 930px){
        .meio-cabecalho{
            margin: 0px 20px;
        }
    }


}

@media(max-width: 740px){
    .Cabecalho{
        padding: 10px;
   
        .meio-cabecalho{
            .home-sobre{
                font-size: 16px;
            }

            .section{
                width: 100%;
                max-width: 0px;
            }
        } 
    }
}

@media(max-width: 485px){
    .Cabecalho{
        justify-content: center;
        
        .meio-cabecalho{
            justify-content: center;
           gap: 7px; 

           width: 100%;
           max-width: 260px;
        }

        a{
            padding: 10px;

            b{
                margin: 0px;
            }
        }
    }
}

@media(max-width: 440px){
    .Cabecalho{
        justify-content: space-between;
        a{
            width: 100;
        }
        .meio-cabecalho{
            width: 100%;
            max-width: 140px;

            padding-left: 0px;

            input{
                display: none;
            }

            section{
                align-items: center;
                justify-content: center;
                width: 30px;
            }
        }
    }
}

@media(max-width: 400px){
    .Cabecalho{
        > a{
            width: 70px;

            > img{
                display: none;
            }
        }
    }
}
@media(max-width: 370px){
    .Cabecalho{
        .meio-cabecalho{
            a{
                padding: 5px;
            }
        }
    }

    
}
@media(max-width: 340px){
    .Cabecalho{
        > a{
            padding: 10px;
            
            b{
                margin: 0px;
            }

            img{
                display: none;
            }
        }

        .meio-cabecalho{
            img{
                width: 15px;
            }
        }
    }
}

@media(max-width: 326px){
    .Cabecalho{
        > a{
            padding: 10px;

            width: 60px;
            
            b{
                margin: 0px;
            }

            img{
                display: none;
            }
        }
    }
}