.rodape-principal-adm {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: #1F2023;
    
    width: 100%;
    height: 16vh;

    


    > img{
       
        height: 95%;
        width: auto;

    }

    .descricao {
        
        p {
            font-family: 'Oswald', sans-serif;
            
            color: #fff;

            width: 650px;
            font-size: 30px;
        }
    }

    .redes-sociais {

        .logo-link {
            display: flex;
            align-items: center;

            > img {
                height: 20px;
            }

            a {
                color: #fff;
                font-family: 'Oswald', sans-serif;

                text-decoration: none;

                padding: 4px 10px;

            }

        }

    }

}
