.page-endereco {
    background-color: #f6f6f6;

    width: 100%;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        text-align: center;

        margin-top: 70px;

        font: 35px 'Oswald', sans-serif;
        font-weight: bolder;
    }
    
    .status-pedido {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;


        .circle {
            
            display: flex;
            align-items: center;
            justify-content: center;


            background-color: #fff;
            border-radius: 100%;
            
            width: 60px;
            height: 60px;

            
            border: 2px solid #29CD00;

            img {
                width: 25px;
                height: 25px;
            }
        }

        .linha-verde {
            width: 300px;
            height: 2px;
            background-color: #29CD00;
        }

        .linha {
            width: 300px;
            height: 3px;
            background-color: #D9D9D9;
        }

        .circle-verde {
            
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #fff;
            border-radius: 100%;
            width: 60px;
            height: 60px;
            border: 2px solid #29CD00;

            img {
                width: 25px;
                height: 25px;
            }
    
        }

        .circle-s {
            
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #fff;
            border-radius: 100%;
            width: 60px;
            height: 60px;
            border: 2px solid #000000;

            img {
                width: 25px;
                height: 25px;
            }
    
        }

    }

    .faixa-02 {
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        width: 100vw;
        margin-top: 35px;
        border-radius: 10px;

        .carrinho{
            background-color: #fff;

            box-shadow: 2px 5px 10px #0000006a;

            border-radius: 6px;

            padding: 10px 20px;

            gap: 10px;
        }
    }

    .faixa-frete {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100vw;
        height: 20vh;
        margin-top: 50px;

        gap: 10px;
    
        .options-frete {
            background-color: #fff;

            width: 70vw;
            height: 20vh;
            border-radius: 10px;
        }
    }

    .logradouro-e-total-pedido {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 40px;

        width: 100vw;
        height: 70vh;
        
        .logradouro {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            background-color: #fff;
            width: 45vw;
            height: 40vh;
            border-radius: 10px;
            gap: 15px;
            padding: 50px;
        
            .line-1 {

                input {
                    width: 40vw;
                    height: 40px;
                    padding: 10px;

                    background-color: #D9D9D9;
                    color: #363636;

                    border: none;

                    font-weight: 500;

                    margin-bottom: 10px;
                }

            }
        
            .line-2 {
                width: 40vw;
                display: flex;
                justify-content: space-between;
                

                .line-menor {
                    width: 15vw;
                    height: 40px;
                    padding: 10px;

                    background-color: #D9D9D9;
                    color: #363636;

                    border: none;
                }

                .line-maior {
                    width: 24vw;
                    height: 40px;
                    padding: 10px;

                    background-color: #D9D9D9;
                    color: #363636;

                    border: none;
                }
            }
        
            .line-3 {
                input {
                    width: 40vw;
                    height: 40px;
                    padding: 10px;

                    background-color: #D9D9D9;
                    color: #363636;

                    border: none;
                }
            }
            
            .line-4 {
                width: 40vw;
                display: flex;
                justify-content: space-between;
                
                input {
                    width: 12.7vw;
                    height: 40px;
                    padding: 10px;

                    background-color: #D9D9D9;
                    color: #363636;

                    border: none;
                }
            }
        
            a {
                display: flex;
                justify-content: center;
                align-items: center;

                text-decoration: none;
                font: 15px 'Oswald', sans-serif; 

                width: 40vw;
                height: 40px;
                padding: 20px 20px;

                background-color: #20A000;
                color: #fff;

                border: none;  
            }

        }


            .pagamento {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                background-color: #ffffff;
    
                width: 20vw;
                
                padding-top: 20px;
    
                border-radius: 10px;
                
                .pag-p1{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
    
                    width: 100%;
    
                    padding: 0px 30px;
    
                    margin-bottom: 5px;
                }
    
                .pag-linha{
                    height: 2px;
                    width: 95%;
    
                    margin-bottom: 10px;
    
                    background-color: #00000061;
                }
    
                .faixa-verde{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
    
                    padding: 0px 20px;
    
                    width: 100%;
                    height: 60px;
    
                    background-color: #20a00026;
    
                    .total{
                        font-size: 25px;
                        font-weight: 500;
    
                        color: #222222;
                    }
                }
    
                .pag-parcela{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
    
                    width: 100%;
    
                    padding: 0px 30px;
    
                    margin: 20px 0px;
    
                    img{
                        height: 25px;
                        width: auto;
    
                        margin-right: 10px;
                    }
    
                    p{
                        font-weight: 500;
    
                        color: #000000c9;
                    }
                }
    
                .desc{
                    display: flex;
                    flex-direction: row;
    
                    width: 100%;
    
                    padding: 0px 30px;
    
                    margin-bottom: 20px;
    
                    img{
                        height: 25px;
                        width: auto;
    
                        margin-right: 10px;
                    }
    
                    .p-desc{
                        font-size: 18px;
    
                        color: #29CD00;
                    }
    
                    p{
                        font-size: 14px;
                    }
                }
    
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    width: 100%;
                    height: 60px;
    
                    background-color: #009020;
    
                    color: #fff;
    
                    font-weight: 500;
                    font-size: 20px;
    
                    cursor: pointer;
                }
                
            }
        }
            
        }
    



@media(max-width: 1024px){
    .page-endereco {
        
        .logradouro-e-total-pedido {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            
            .logradouro {
                display: flex;
                flex-direction: column;
                
                background-color: #fff;
                width: 50vw;
                height: 50vh;
                border-radius: 15px;
                gap: 15px;
                padding: 30px;
                    
                .line-1 {
    
                    input {
                        width: 40vw;
                        height: 40px;
    
                        background-color: #D9D9D9;
                        color: #363636;
    
                        border: none;
                    }
    
                }
            
                .line-2 {
                    width: 40vw;
                    display: flex;
                    justify-content: space-between;
                    
    
                    .line-menor {
                        width: 15vw;
                        height: 40px;
    
                        background-color: #D9D9D9;
                        color: #363636;
    
                        border: none;
                    }
    
                    .line-maior {
                        width: 24vw;
                        height: 40px;
    
                        background-color: #D9D9D9;
                        color: #363636;
    
                        border: none;
                    }
                }
            
                .line-3 {
                    input {
                        width: 40vw;
                        height: 40px;
    
                        background-color: #D9D9D9;
                        color: #363636;
    
                        border: none;
                    }
                }
                
                .line-4 {
                    width: 40vw;
                    display: flex;
                    justify-content: space-between;
                    
                    input {
                        width: 12.7vw;
                        height: 40px;
    
                        background-color: #D9D9D9;
                        color: #363636;
    
                        border: none;
                    }
                }
            
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    text-decoration: none;
                    font-family: 'Oswald', sans-serif;
    
                    width: 40vw;
                    height: 40px;
                    padding: 20px 20px;
    
                    background-color: #20A000;
                    color: #fff;
    
                    border: none;  
                }
    
            }

            .pagamento {
                width: 20vw;
                height: 50vh;
                border-radius: 10px;                
            }
        }
    }
}

@media (max-width: 520px) {
    .page-endereco {
        
        .status-pedido {
            
            .circle {
            
                display: flex;
                align-items: center;
                justify-content: center;
    
    
                background-color: #fff;
                border-radius: 100%;
                
                width: 65px;
                height: 45px;
    
                
                border: 2px solid #29CD00;
    
                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .circle-verde {
            
                display: flex;
                align-items: center;
                justify-content: center;
    
    
                background-color: #fff;
                border-radius: 100%;
                
                width: 65px;
                height: 45px;
    
                
                border: 2px solid #29CD00;
    
                img {
                    width: 20px;
                    height: 20px;
                }
            }
    
            .linha-verde {
                width: 300px;
                height: 2px;
                background-color: #29CD00;
            }
    
            .linha {
                width: 300px;
                height: 3px;
                background-color: #D9D9D9;
            }
    
            .circle-s {
                
                display: flex;
                align-items: center;
                justify-content: center;
    
                background-color: #fff;
                border-radius: 100%;
                
                width: 65px;
                height: 50px;
                
                border: 2px solid #000000;
    
                img {
                    width: 20px;
                    height: 20px;
                }
        
            }
        }

        .logradouro-e-total-pedido {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
    
            width: 100vw;
            height: 20vh;
    
            .logradouro {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                background-color: #fff;
                width: 50vw;
                height: 50vh;
                border-radius: 15px;
                gap: 15px;
                padding: 50px;
                margin-top: 100px;
            }
        }
    }
}

@media (max-width: 418px) {
    .page-endereco {
        .status-pedido {

            display: flex;
            justify-content: center;
            align-items: center;

            .circle {
                
                display: flex;
                align-items: center;
                justify-content: center;
    
    
                background-color: #fff;
                border-radius: 100%;
                
                width: 50px;
                height: 50px;
    
                
                border: 2px solid #29CD00;
    
                img {
                    width: 20px;
                    height: 20px;
                }
            }
    
            .linha-verde {
                width: 100px;
                height: 2px;
                background-color: #29CD00;
            }
    
            .linha {
                width: 100px;
                height: 2px;
                background-color: #D9D9D9;
            }
    
            .circle-verde {
    
                width: 50px;
                height: 50px;
                border: 2px solid #29CD00;
    
            }
    
            .circle-s {
                width: 50px;
                height: 50px;
                border: 2px solid #000000;
    
                img {
                    width: 20px;
                    height: 20px;
                }
        
            }
    
        }

        .logradouro-e-total-pedido {
            height: 95vh;

            margin-top: 50px;

            .logradouro {
                width: 270px;
                height: 350px;
           
                .line-1 {
    
                    input {
                        width: 210px;
                    }
                }
            
                .line-2 {
                    width: 210px;
                    
                    .line-menor {
                        width: 80px;
                    }
    
                    .line-maior {
                        width: 121px;
                    }
                }
            
                .line-3 {
                    input {
                        width: 210px;
                    }
                }
                
                .line-4 {
                    width: 210px;
            
                    input {
                        width: 68px;
                    }
                }
            
                a {
                    font: 11px 'Oswald', sans-serif;

                    width: 210px;
                }
            }

            .pagamento {
                width: 220px;
                height: 300px;
                
                border-radius: 10px;

                margin-bottom: 200px;
            }

        }

    }
}