.minhaconta{
    overflow: hidden;
    background-color: #f6f6f6;
    

    .faixa1{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;

        margin-bottom: 175px;
        
    }

    .faixa1 > h1{
        margin-top: 60px;
    }

    .card{
        background-color: white;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        border-radius: 15px;
        box-shadow: 0px 6px 7px rgba(41, 41, 41, 0.377);

        cursor: pointer;

        transition: 1s;

        .imagemcard{
            max-width: 105px;
            width: 100%;
        }
        
    }

    .card:hover{
        transform: translate(0px, -5px);
    }

    .agrup{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .agrup h1{
        font-size: 25px;
        margin-top: 10px;
    }
    
    
    .linha{
        display: flex;
        flex-direction: row;
        gap: 30px;
        
    }

    .fundo-alterarinfo{
        display: none;
    }

    .voltar{
        height: 25px;
        width: 100px;

        cursor: pointer;

        border: 1px solid #000;

        transition: 1s;
        
        border-radius: 5px;

        outline: 0;
    }

    .voltar:hover{
        transform: translate(0px, -5px);

        border: none;

        box-shadow: 0px 2px 5px #0000007a;
    }

    .fundo-alterarinfo.aparecer{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        z-index: 2;

        width: 98vw;
        height: 120vh;

        
        backdrop-filter: blur(2px);

        top: 0px;

        .borda {
            height: 353px;
            width: 473px;
            position: relative;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .borda::before {
            position: absolute;
            width: 170%;
            height: 170%;
            content: '';
            background-image: conic-gradient(#fff, #019708, #fff, #019708);
            animation: rotate_border 6s linear infinite;

        }

        .borda::after {

            position: absolute;
            width: 170%;
            height: 170%;
            content: '';
            background-image: conic-gradient(#fff, #019708, #fff, #019708);
            animation: rotate_border 6s linear infinite;
            animation-delay: -3s;
        }

        .alterarinfo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            z-index: 1;

            height: 350px;
            width: 470px;


            background-color: #fff;

            .salvarinfo{
                border: none;
                outline: 0;

                background: linear-gradient(91deg, #009020 4.71%, #000 94.34%);

                height: 30px;
                width: 150px;

                color: #fff;
                
                border-radius: 20px;

                cursor: pointer;

                transition: 1s;
            }

            .salvarinfo:hover{
                transform: translate(0px, -5px);
            }

            section{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                
                gap: 8px;

                width: 100%;

                input{
                    width: 90%;
                    height: 30px;

                    font-size: 16px;

                    border: none;
                    outline: 0;
                }

                .input {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    width: 70%;

                    border: 1px solid black;

                    img {
                        height: 25px;
                    }
                }
            }
        }

    }


    .fundo-vercadastro{
        display: none;
    }

    .fundo-vercadastro.aparecer{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        z-index: 2;

        width: 98vw;
        height: 120vh;

        backdrop-filter: blur(2px);

        top: 0px;

        .vercadastro{
            display: flex;
            flex-direction: column;
            align-items: center;

            z-index: 1;

            height: 320px;
            width: 550px;

            background-color: #fff;

            section{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                width: 100%;

                padding: 40px 60px;

                .imagem-nome{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    gap: 10px;

                    p{
                        font-size: 20px;
                        font-weight: 500;
                    }
                }

                .informacoes{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    p{
                        span{
                            font-weight: 500;
                            color: #019708;
                        }
                    }
                }
            }
        }

        .borda {
            width: 553px;
            height: 323px;
            position: relative;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .borda::before {
            position: absolute;
            width: 170%;
            height: 170%;
            content: '';
            background-image: conic-gradient(#fff, #019708, #fff, #019708);
            animation: rotate_border 6s linear infinite;

        }

        .borda::after {

            position: absolute;
            width: 170%;
            height: 170%;
            content: '';
            background-image: conic-gradient(#fff, #019708, #fff, #019708);
            animation: rotate_border 6s linear infinite;
            animation-delay: -3s;
        }
    }



    @media(max-width:991px) {
        .card{
            max-width: 160px;
            width: 100%;

            height: 160px;

            .imagemcard{
                width: 60px;
            }
        }

        .agrup p{
            font-size: 20px;
            max-width: 200px;
        }
    }

    @media(max-width:563px) {

        
        .linha{
           flex-direction: column;
           gap: 0px;

           max-width: 563px;
           width: 100%;
        }
    
        .card{
            display: flex;
            min-width: 300px ; 
            
        }

        .faixa1 > h1{
            margin-top: 20px;
            font-size: 24px;
            margin-bottom: 20px;

            
        }

        .faixa1{
            align-items: center;
            justify-content: start;
            gap: 0px;
        }

        .agrup{
            margin-bottom: 30px;
        }

        
        
    }

     @media(max-width: 414px){
        .fundo-vercadastro.aparecer{

            .vercadastro{

                width: 85vw !important;
                height: 270px !important;

                section{

                    padding: 40px 10px;

                    .imagem-nome{

                        img{
                            width: 70px;
                        }

                        p{
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }

                    .informacoes{
                        p{
                            font-size: 14px;
                            span{
                                font-size: 16px;
                                font-weight: 500;
                                color: #019708;
                            }
                        }
                    }
                }
            }

            .borda {
                width: 85.5vw !important;
                height: 273px !important;
            }

        }


        .fundo-alterarinfo.aparecer{
            .borda{
                width: 85.5vw !important;
                height: 403px !important;
            }

            .alterarinfo{
                width: 85vw !important;
                height: 400px !important;

                p{
                    font-size: 14px;
                }

            }
        }
    }

}



