


.pagina-produto{

    overflow: hidden;

    scroll-behavior: smooth;

    background-color: #f6f6f6;

    .produtos-s1{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 50px;

        h1{
            text-align: center;

            font-size: 36px;

            width: 600px;

            margin-bottom: 50px;

            color: #626161;
        }
        
        .carrosel{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 100vw;

            margin-bottom: 200px;

            .button-carrosel-left{
                display: flex;
                align-items: center;
                justify-content: center;

                float: left;
                width: 100px;
                height: 100px;
                shape-outside: circle(50% at 30%);
                clip-path: circle(50% at 0%);
                background: #000;

                position: relative;

                img{
                    position: absolute;
                    right: 58px;
                    top: 35px;

                    height: 30px;
                }
            }

        

            .button-carrosel-right{
                display: flex;
                align-items: center;
                justify-content: center;

                float: right;
                width: 100px;
                height: 100px;
                shape-outside: circle(50% at 30%);
                clip-path: circle(50% at 100%);
                background: #000;

                position: relative;

                img{
                    position: absolute;
                    left: 58px;
                    top: 35px;

                    height: 30px;
                }
            }

            .container {
                max-width: var(--container);
                padding: 0 2rem;
                margin: var(--m-auto);
              }
              
              .swiper {
                position: relative;
                width: 240px;
                height: 320px;
              }
              
              .swiper-slide {
                border-radius: 18px;
              }
              
              .swiper-slide img {
                width: 100%;
                object-fit: cover;
                border-radius: 18px;
              }
              
              .heading {
                padding-top: 3rem;
                text-align: center;
              }
              
            
        }
    }



    .produtos-s2-tipos{
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 200px;

        cursor: pointer;

        margin-bottom: 70px;

        .produtos-s2-tipos-card{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            padding: 30px 80px;

            height: 250px;

            width: 100%;
            min-width: 1100px;
            max-width: 1100px;

            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);


            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                gap: 25px;

                color: #626161;

                transition: 0.5s;
                

                img{
                    height: 100px;
                    width: auto;

                    transition: 0.5s;
                }

                p{
                    font-weight: 500;
                }
            }

            div:hover{
                img{
                    transform: translate(0px, -10px);
                }
            }

            section{
                width: 2px;
                height: 100%;

                background-color: #D9D9D9;
            }

        }
    }

    .produtos-s3{
        display: flex;
        flex-direction: column;
        align-items: center;


        h1{
            margin: 55px 0px;

            font-size: 40px;
        }

        .parte-cards{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            gap: 25px;

            width: 100%;
            max-width: 1300px;

            padding: 30px;

            .card{
                display: flex;
                flex-direction: column;
                align-items: center;

                padding: 30px;

                width: 280px;
                height: 400px;

                cursor: pointer;

                transition: 0.5s;


                gap: 30px;

                border: 0.5px solid #a7a7a793;

                background-color: #fff;

                img{
                    height: 65%;
                }
                
            }

            .card:hover{
                border: none;
                transform: translate(0px, -5px);
                box-shadow: 0px 2px 10px #0000006e;
            }
        }

    }

    @media(max-width: 1160px){
        .produtos-s2-tipos-card{

            max-width: 900px !important;
            min-width: 0px !important;
        }
    }

    @media(max-width: 940px){
        .produtos-s2-tipos{
            height: 360px !important;       
            align-items: center !important;
            justify-content: center !important;
        }
        .produtos-s2-tipos-card{
            padding: 10px !important;

            max-width: 600px !important;

            img{
                height: 70px !important;
            }

            div{

               p{
                font-size: 14px !important;
               }
            }

            section{
                display: none;
            }
        }
    }

    @media(max-width: 780px){
        .produtos-s1{
            >h1{
                font-size: 30px !important;

                width: auto !important;
            }
        }
    }

    @media(max-width: 635px){
        .produtos-s2-tipos-card{
            flex-wrap: wrap !important;

            padding: 20px !important;

            gap: 20px !important;

            height: 350px !important;

            width: 340px !important;
        }

        .produtos-s3{
            h1{
                font-size: 30px;
            }
        }
    }

    @media(max-width: 365px){
        .produtos-s1{
            >h1{
                font-size: 18px !important;

                width: auto !important;
            }
        }
    }

    @media(max-width: 475px){
        .produtos-s1{
            >h1{
                font-size: 25px !important;

                width: auto !important;
            }
        }
    }

}