.homeadm{
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;




    .conteudo{
        width: 700px;
        height: 700px;


        
    }
}