.Cabecalho1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 10vh;

    padding: 0px 15px;

    padding-right: 40px;

    background:  linear-gradient(180deg, #BFFBCA 0%, rgba(200, 255, 210, 0.00) 97.92%);


    > img{
        height: 80%;
        width: auto;
    }

    .meio-cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 30px;

        p{
            font-size: 20px;

            font-weight: 500;

            color: rgba(54, 54, 54, 1);
        }

        section{
            display: flex;
            flex-direction: row;
            align-items: center;

            background-color: #f6f6f6;

            width: 100%;
            max-width: 350px;

            gap: 10px;

            padding: 0px 20px;

            border-radius: 15px;

            img{
                height: 16px;
            }

          input{
            border: 0px;

            outline: 0;

            height: 100%;

            width: 90%;

            font-size: 16px;

            background-color: transparent;
          }
        }
    }

    a{
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        height: 40px;
        width: 80px;

        background-color: #009020;

        border-radius: 15px;

        text-decoration: none;

        color: #fff;

        font-size: 20px;
        
        transition: 0.5s;
    }

    a:hover{
        transform:translate(0px, -7px);
    }


    @media(max-width: 930px){
        .meio-cabecalho{
            margin: 0px 20px;
        }
    }


}

@media(max-width: 730px){
    .Cabecalho1{
        padding: 10px;
   
    .meio-cabecalho{
        p{
            font-size: 16px;
        }
    }

    a{
        max-width: 60px;

        font-size: 16px;

        height: 30px;
    } 
    }
}

@media(max-width: 485px){
    .Cabecalho1{
        justify-content: center;
        
        .meio-cabecalho{
           gap: 7px; 

           width: 100%;
           max-width: 260px;
        }
    }
}

@media(max-width: 430px){
    .Cabecalho1{
        .meio-cabecalho{
            width: 100%;
            max-width: 140px;

            padding-left: 0px;

            input{
                display: none;
            }

            section{
                align-items: center;
                justify-content: center;
                width: 30px;
            }
        }
    }
}