.Cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 13vh;

    padding: 0px 15px;

    padding-right: 40px;

    background:  linear-gradient(180deg, #BFFBCA 0%, rgba(200, 255, 210, 0.00) 97.92%);


    > img{
        height: 100%;
        width: auto;
    }

    .meio-cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 30px;

        b{
            font-size: 20px;

            color: rgba(54, 54, 54, 1);
        }

        section{
            display: flex;
            flex-direction: row;
            align-items: center;

            background-color: #f6f6f6;

            width: 350px;
            height: 50px;

            gap: 10px;

            padding: 0px 20px;

            border-radius: 15px;

            img{
                height: 16px;
            }

          input{
            border: 0px;

            outline: 0;

            height: 100%;

            width: 90%;

            font-size: 16px;

            background-color: transparent;
          }
        }
    }

    a{
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        height: 40px;
        width: 80px;

        background-color: #009020;

        border-radius: 15px;

        text-decoration: none;

        color: #fff;

        font-size: 20px;
        
        transition: 0.5s;
    }

    a:hover{
        box-shadow: 0px 0px 10px #00000080;

        transform:translate(0px, -7px);
    }
}