.page-endereco {
    background-color: #f6f6f6;

    width: 100%;
    height: 198vh;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        text-align: center;

        margin-top: 70px;

        font: 35px 'Oswald', sans-serif;
        font-weight: bolder;
    }
    
    .status-pedido {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;


        .circle {
            
            display: flex;
            align-items: center;
            justify-content: center;


            background-color: #fff;
            border-radius: 100%;
            
            width: 70px;
            height: 70px;

            
            border: 2px solid #29CD00;

            img {
                width: 30px;
                height: 30px;
            }
        }

        .linha-verde {
            width: 300px;
            height: 2px;
            background-color: #29CD00;
        }

        .linha {
            width: 300px;
            height: 3px;
            background-color: #D9D9D9;
        }

        .circle-verde {
            
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #fff;
            border-radius: 100%;
            width: 70px;
            height: 70px;
            border: 2px solid #29CD00;

            img {
                width: 30px;
                height: 30px;
            }
    
        }

        .circle-s {
            
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #fff;
            border-radius: 100%;
            width: 70px;
            height: 70px;
            border: 2px solid #000000;

            img {
                width: 30px;
                height: 30px;
            }
    
        }

    }

    .faixa-02 {
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        width: 100vw;
        height: 20vh;
        margin-top: 35px; 

        .produto {

            background-color: #ffffff;

            width: 70vw;
            height: 50vh;
            border-radius: 10px;

        }
    }

    .faixa-frete {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100vw;
        height: 20vh;
        margin-top: 50px;
    
        .options-frete {
            background-color: #fff;

            width: 70vw;
            height: 20vh;
            border-radius: 10px;
            margin: 4px;
        }
    }

    .logradouro-e-total-pedido {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 40px;

        width: 100vw;
        height: 20vh;
        margin-top: 200px;
        margin-bottom: 400px;
        gap: 20px;

        .logradouro {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            background-color: #fff;
            width: 50vw;
            height: 50vh;
            border-radius: 10px;
            gap: 15px;
            padding: 50px;
        
            .line-1 {

                input {
                    width: 40vw;
                    height: 40px;
                    padding: 10px;

                    background-color: #D9D9D9;
                    color: #363636;

                    border: none;
                }

            }
        
            .line-2 {
                width: 40vw;
                display: flex;
                justify-content: space-between;
                

                .line-menor {
                    width: 15vw;
                    height: 40px;
                    padding: 10px;

                    background-color: #D9D9D9;
                    color: #363636;

                    border: none;
                }

                .line-maior {
                    width: 24vw;
                    height: 40px;
                    padding: 10px;

                    background-color: #D9D9D9;
                    color: #363636;

                    border: none;
                }
            }
        
            .line-3 {
                input {
                    width: 40vw;
                    height: 40px;
                    padding: 10px;

                    background-color: #D9D9D9;
                    color: #363636;

                    border: none;
                }
            }
            
            .line-4 {
                width: 40vw;
                display: flex;
                justify-content: space-between;
                
                input {
                    width: 12.7vw;
                    height: 40px;
                    padding: 10px;

                    background-color: #D9D9D9;
                    color: #363636;

                    border: none;
                }
            }
        
            a {
                display: flex;
                justify-content: center;
                align-items: center;

                text-decoration: none;
                font: 15px 'Oswald', sans-serif; 

                width: 40vw;
                height: 40px;
                padding: 20px 20px;

                background-color: #20A000;
                color: #fff;

                border: none;  
            }

        }

        .pagamento {

            background-color: #ffffff;
    
            width: 17vw;
            height: 50vh;
            border-radius: 10px;
            
        }
    }

}

@media(max-width: 977px){
    .page-endereco {
        
        .logradouro-e-total-pedido {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
    
            width: 100vw;
            height: 20vh;
    
            .logradouro {
                display: flex;
                flex-direction: column;
                
                background-color: #fff;
                width: 50vw;
                height: 50vh;
                border-radius: 15px;
                gap: 15px;
                padding: 30px;
                margin-top: 100px;
            
                .line-1 {
    
                    input {
                        width: 40vw;
                        height: 40px;
    
                        background-color: #D9D9D9;
                        color: #363636;
    
                        border: none;
                    }
    
                }
            
                .line-2 {
                    width: 40vw;
                    display: flex;
                    justify-content: space-between;
                    
    
                    .line-menor {
                        width: 15vw;
                        height: 40px;
    
                        background-color: #D9D9D9;
                        color: #363636;
    
                        border: none;
                    }
    
                    .line-maior {
                        width: 24vw;
                        height: 40px;
    
                        background-color: #D9D9D9;
                        color: #363636;
    
                        border: none;
                    }
                }
            
                .line-3 {
                    input {
                        width: 40vw;
                        height: 40px;
    
                        background-color: #D9D9D9;
                        color: #363636;
    
                        border: none;
                    }
                }
                
                .line-4 {
                    width: 40vw;
                    display: flex;
                    justify-content: space-between;
                    
                    input {
                        width: 12.7vw;
                        height: 40px;
    
                        background-color: #D9D9D9;
                        color: #363636;
    
                        border: none;
                    }
                }
            
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    text-decoration: none;
                    font-family: 'Oswald', sans-serif;
    
                    width: 40vw;
                    height: 40px;
                    padding: 20px 20px;
    
                    background-color: #20A000;
                    color: #fff;
    
                    border: none;  
                }
    
            }

            .pagamento {

                background-color: #ffffff;
        
                width: 50vw;
                height: 25vh;
                border-radius: 10px;
                margin-top: 30px;
                
            }
        }
    }
}

@media (max-width: 520px) {
    .page-endereco {
        
        .status-pedido {
            
            .circle {
            
                display: flex;
                align-items: center;
                justify-content: center;
    
    
                background-color: #fff;
                border-radius: 100%;
                
                width: 65px;
                height: 45px;
    
                
                border: 2px solid #29CD00;
    
                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .circle-verde {
            
                display: flex;
                align-items: center;
                justify-content: center;
    
    
                background-color: #fff;
                border-radius: 100%;
                
                width: 65px;
                height: 45px;
    
                
                border: 2px solid #29CD00;
    
                img {
                    width: 20px;
                    height: 20px;
                }
            }
    
            .linha-verde {
                width: 300px;
                height: 2px;
                background-color: #29CD00;
            }
    
            .linha {
                width: 300px;
                height: 3px;
                background-color: #D9D9D9;
            }
    
            .circle-s {
                
                display: flex;
                align-items: center;
                justify-content: center;
    
                background-color: #fff;
                border-radius: 100%;
                
                width: 65px;
                height: 50px;
                
                border: 2px solid #000000;
    
                img {
                    width: 20px;
                    height: 20px;
                }
        
            }
        }

        .logradouro-e-total-pedido {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
    
            width: 100vw;
            height: 20vh;
    
            .logradouro {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                background-color: #fff;
                width: 50vw;
                height: 50vh;
                border-radius: 15px;
                gap: 15px;
                padding: 50px;
                margin-top: 100px;
            }
        }
    }
}

@media (max-width: 418px) {
    .page-endereco {
        .status-pedido {

            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
    
    
            .circle {
                
                display: flex;
                align-items: center;
                justify-content: center;
    
    
                background-color: #fff;
                border-radius: 100%;
                
                width: 50px;
                height: 50px;
    
                
                border: 2px solid #29CD00;
    
                img {
                    width: 20px;
                    height: 20px;
                }
            }
    
            .linha-verde {
                width: 100px;
                height: 2px;
                background-color: #29CD00;
            }
    
            .linha {
                width: 100px;
                height: 2px;
                background-color: #D9D9D9;
            }
    
            .circle-verde {
    
                width: 50px;
                height: 50px;
                border: 2px solid #29CD00;
    
            }
    
            .circle-s {
                width: 50px;
                height: 50px;
                border: 2px solid #000000;
    
                img {
                    width: 20px;
                    height: 20px;
                }
        
            }
    
        }

        .logradouro-e-total-pedido {
            
            .logradouro {
                width: 70vw;

                .line-1 {
    
                    input {
                        width: 50vw;
                    }
                }
            
                .line-2 {
                    width: 50vw;
                    
                    .line-menor {
                        width: 20vw;
                    }
    
                    .line-maior {
                        width: 29vw;
                    }
                }
            
                .line-3 {
                    input {
                        width: 50vw;
                    }
                }
                
                .line-4 {
                    width: 50vw;
            
                    input {
                        width: 15vw;
                    }
                }
            
                a {
                    font: 11px 'Oswald', sans-serif;

                    width: 50vw;
                }
            }

            .pagamento {
                width: 55vw;
                height: 40vh;
            }
        }

    }
}